* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 1000px;
  margin: 30px auto;
  height: calc(100vh - 64px);
  background-color: whitesmoke;
  border-radius: 15px;
  position: relative;
}

.name {
  font-size: 28px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 6rem;
  left: 7rem;
  letter-spacing: 6px;
}

.main-class {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 18.75rem;
  width: 100%;
  border-radius: 15px;
  position: absolute;
}

.App {
  box-shadow: rgba(15, 126, 238, 0.2) 0px 8px 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  top: 25%;
  left: 50%;
  /* padding: 10px; */
  border-radius: 15px;
  width: 900px;
  margin: 0 auto;
}

.header {
  background: white;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  width: 80%;
  left: 11%;
  top: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logoside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-gap: 10px;
}

.logoside > svg {
  font-size: 1.5rem;
  margin: 0 10px;
  animation: spin 6s linear infinite;
  color: #a038dd;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input:focus {
  outline: none;
}

.animation-start,
.animation0 {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animation0 {
  animation-name: example;
  animation-delay: 0.5s;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 600px) {
  .main {
    width: 100%;
    margin: 0;
    height: 100vh;
    border-radius: 0px;  
  }
  .main-class {
    border-radius: 0px;
  }
  .name {
    left: 3rem;
    font-size: 20px;
  }
  .header {
    left: 11%;
    width: 80%;
  }
  .todoContainer {
    width: calc(100vw - 32px);
    left: 4%;
    max-width: auto;
  }
  .inputForm {
    padding: 6px 7px 6px 14px;
  }
}